.home{
    background: url('../assets/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 81vh;
    background-position: center top;
  
    @media only screen and (max-width: 576px) {
      height: 94vh;
    }
    .home__heading {
        font-size: 40px;
        color: rgb(233, 230, 230);
        padding-top: 180px;
        text-align: center;
    }
  
    .overlay{
      background: rgba(7, 7, 7, 0.4);
      width: 100%;
      height: 100%;
  
      .main{
        text-align: center;
        padding-top: 250px;
  
        @media only screen and (max-width: 576px) {
          padding-top: 170px;
        }
  

  }}}